<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Earnings Summary</h2>
    <p>
      Total Earnings from Approved Rentals: <strong>KES <%= total %></strong>
    </p>
  </body>
</html>
